<!DOCTYPE html>
<html>

<head>
    <title>Embedded Images</title>
</head>

<body>
    <h1>Embedded Images</h1>
    <div>
        <!-- EMBED CODE WILL BE RENDERED HERE -->
        <%= embedCode %>
    </div>
</body>

</html>